*{
     font-family: 'Times New Roman', Times, serif;
 }                                                                                                                                                                       

 nav {
     position:sticky;
     background-color: rgb(255, 255, 255);
     box-shadow:3px 6px #ccc6c6;
     width: 100%;
     padding:5px ;
     text-align: center;
 }

 nav li{
     list-style: none;
     display: inline;
     margin-left: 25px;
     margin-right: 25px;
     background-color:rgb(0, 0, 210) ;
     color: white;
     padding:5px 10px ;
     border-radius: 3px;
 }

 nav a {
     text-decoration: none;
     color: white;
 }
.color-1{
    color: blueviolet;
}
 .w-100{
    width: 100%;
 }

 .div-1{
     display: flex;
     padding:10px ;
 }
 .div-2{
    width: 30%; 
 }
 .div-3{
     width: 70%;
 }
 .font1{
     font-size: 1.5em;
 }
 .show-border{
    border: 1px solid black;
 }
 .sec1{
     display: flex;
     padding: 10px;
 }
 .div-4{
   width: 40%;  
 }
 .div-5{
    width:40%; 
 }
 .div-6{
    width:70%; 
    text-align: center;
 }
.contact-btn{
    background-color:rgb(0, 200, 2) ;
    color: white;
    padding:5px 10px ;
    border-radius: 5px;
    text-decoration: none;
}
.contact-box{
    margin-top: 150px;
    margin-bottom: 20px;
    display:flex;
    justify-content: center;
}

.contact-inner{
    background-color: aquamarine;
    padding: 30px;
    box-shadow:3px 6px #ccc6c6;
}

.justify-center{
    justify-content: center;
    text-align: center;
}

.margin-1{
    margin-top: 10px;
    margin-bottom: 10px;
}